
OOP_1/obj/Debug/OOP_1.csproj.AssemblyReference.cache
OOP_1/obj/Debug/OOP_1.csproj.CoreCompileInputs.cache
OOP_1/obj/Debug/OOP_1.csproj.FileListAbsolute.txt
OOP_1/obj/Debug/OOP_1.csproj.SuggestedBindingRedirects.cache
OOP_1/obj/Debug/OOP_1.exe
OOP_1/obj/Debug/OOP_1.pdb
OOP_1/OOP_1.csproj
OOP_1/Properties/AssemblyInfo.cs
OOP_1/bin/Debug/OOP_1.pdb
OOP_1/bin/Debug/OOP_1.exe
.idea/.idea.OOP_1/.idea/indexLayout.xml
.idea/.idea.OOP_1/.idea/encodings.xml
OOP_1.sln
